body {
    font-family: 'Roboto', sans-serif; /* Usa Roboto como fuente principal */
}

h1 {
    font-family: 'Libre Baskerville', serif; /* Usa Libre Baskerville para títulos */
    font-weight: 700; /* Negrita */
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Regular */
}


.sidebar {
    height: 100vh;
    background-color: #003b95;
    padding-top: 20px;
}
.sidebar a {
        color: white;
        text-decoration: none;
        padding: 15px 20px;
        display: block;
 }
